@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 240 20% 98%;
    --foreground: 240 20% 10%;
    --card: 240 15% 96%;
    --card-foreground: 240 20% 10%;
    --popover: 240 15% 96%;
    --popover-foreground: 240 20% 10%;
    --primary: 250 80% 72.4%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 15% 92%;
    --secondary-foreground: 240 20% 20%;
    --muted: 240 10% 94%;
    --muted-foreground: 240 15% 50%;
    --accent: 240 15% 90%;
    --accent-foreground: 240 20% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 10% 88%;
    --input: 240 10% 90%;
    --ring: 240 20% 10%;
    --radius: 0.5rem;
    --chart-1: 250 80% 72.4%;
    --chart-2: 219 77% 53.9%;
    --chart-3: 37 89% 68.8%;
    --chart-4: 136 56.2% 66.3%;
    --chart-5: 343 90.7% 63%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --success: 120 40% 50%;
    --success-foreground: 0 0% 100%;
  }

  .dark {
    --background: 240 43% 4.1%;
    --foreground: 240 43% 90%;
    --card: 240 43% 6%;
    --card-foreground: 240 43% 90%;
    --popover: 240 43% 6%;
    --popover-foreground: 240 43% 90%;
    --primary: 250 80% 82.4%;
    --primary-foreground: 240 43% 4.1%;
    --secondary: 240 43% 10%;
    --secondary-foreground: 240 43% 90%;
    --muted: 240 43% 10%;
    --muted-foreground: 240 43% 65%;
    --accent: 240 43% 15%;
    --accent-foreground: 240 43% 90%;
    --destructive: 0 62.8% 50.6%;
    --destructive-foreground: 240 43% 90%;
    --border: 240 43% 15%;
    --input: 240 43% 20%;
    --ring: 240 43% 90%;
    --chart-1: 250 80% 82.4%;
    --chart-2: 219 77% 53.9%; /* hsl(219deg, 77%, 53.9%) */
    --chart-3: 37 79% 58.8%; /* hsl(36.9deg, 79%, 58.8%) */
    --chart-4: 136 46.2% 56.3%; /* hsl(136deg, 46.2%, 56.3%) */
    --chart-5: 343 60.7% 47%; /* hsl(343deg, 60.7%, 46.9%) */
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --success: 120 40% 50%;
    --success-foreground: 240 43% 90%;
  }
}

@layer base {
  * {
    @apply border-border;
    transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
  body {
    @apply bg-background text-foreground;
  }

  .box {
    @apply size-full overflow-hidden;
  }
}